# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Caches
.cache
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

# Testing
.coverage
.pytest_cache/
htmlcov/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Docker
Dockerfile
docker-compose.yml
*.dockerignore

# Git
.git
.gitignore

# Node modules
node_modules

# Virtual environment
.venv
ENV

# Temporary files
tmp
